:root{
  --cor-principal: #878ef7;
  --cor-secundaria: #4f60c0;
  --cor-fundo: #f4f4f4;
  --cor-card: #858cf7;
}

.projetos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.projeto {
  background: var(--cor-card);
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--cor-principal);
}

header {
background: var(--cor-secundaria);
color: white;
text-align: center;
padding:20px;
}

section {
    background: var(--cor-fundo);
    margin: 20px;
    padding: 15px;
    border-radius:10px;
}

@media (max-width: 600px) {
  .projetos {
    flex-direction: column;
    align-items: center;
  }

  .projeto {
    width: 90%;
  }
}

.projeto {
  transition: 0.3s;
}

.projeto:hover {
  transform: scale(1.05);
}